/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 1rem;
    background-color: #00A3D3;
    
}
.main {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 15rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    opacity: 1;
    transform: translateY(0);
}
.main.active {
    opacity: 0;
    transform: translateY(1rem);
    transition: ease 0.25s;
}
.header {
    display: flex;
    align-items: center;
    color:#00A3D3;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cookie-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.cookie-icon img {
    width: 100%;
    height: 100%;
}
.title {
    font-size: 1.5rem;
}
.description {
    margin-top: 1rem;
    line-height: 1.15;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 0.9rem;
}
.btns {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}
.btns button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 1;
    padding: 0.5rem;
}
.acp-btn {
    background-color:#00A3D3;
    color: white;
    border-color: transparent;
}
.acp-btn:hover {
    background-color: white;
    color:#00A3D3;
    transition: ease 0.2s;
    border: 0.1rem solid;
    border-color:#00A3D3;
}
.dec-btn {
    background-color: white;
    color:#00A3D3;
    border-color:#00A3D3;
}
.dec-btn:hover {
    background-color:#00A3D3;
    color: white;
    transition: ease 0.2s;
    border: 0.1rem solid;
    border-color: transparent;
}